* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: black;
    background-color: black;
}

body {
    width: 100%;
    height: 127.5vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    color: black;
    background-color: black;
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: transparent;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#brand {
    align-items: center;
    margin: 20px 30px;
    cursor: pointer;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
    margin-right: 25px;
}

ul a {
    color: white;
    text-transform: uppercase;
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    position: relative;

}

ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

ul li:hover::after {
    width: 100%;
}

#hamburger-icon {
    margin-top: 40px;
    margin-right: 25px;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 1.5rem;
    height: calc(100vh - 50px);
    width: 30%;
    background: rgba(82, 82, 82, 0.5);
    height: 340px;
    border-radius: 25px;
}

.mobile-menu li {
    margin-top: 40px;
    margin-bottom: 20px;
}

@font-face {
    font-family: lemon;
    src:url(LEMONMILK-Regular.otf);
}

/*Media Content*/
img.box-shadow {
    box-shadow: .75em .75em 1em black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 301.44px;
    width: 301.44px;
    margin-top: 100px;
}

h1{
    color: white;
    font-family: lemon;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.border {
    background: rgba(82, 82, 82, 0.5);
    height: 425px;
    width: 350px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 15px;
    position: relative;
}

.border p {
    color: white;
    font-size: 16px;
    text-align: center;
    text-justify: inter-word;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 22px;
    transform: translateY(3.5%);
    position: relative;
}

@media (max-width: 800px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

}

@media (min-width: 800px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    body {
        width: 100%;
        height: 100vh;
        background-image: url(background.png);
        background-size: cover;
        background-position: center;
        color: black;
    }

    /* Desktop Content */

    h1 {
        font-size: 40px;
        font-family: lemon;
        text-align: left;
        margin-left: 550px;
        margin-top: -440px;
    }

    .border {
        background: rgba(82, 82, 82, 0.5);
        height: 365px;
        width: 800px;
        border-radius: 25px;
        margin-left: 545px;
        display: block;
        margin-top: 15px;
        position: relative;
    }

    .border p {
        font-size: 18.75px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 20px;
        line-height: 40px;
        text-align: left;
        transform: translateY(6.5%);
    }

    img.box-shadow {
        box-shadow: .75em .75em 1em black;
        margin-left: 50px;
        width: 452.17px;
        height: 452.17px;
        margin-right: 40px;
        margin-top: 150px;
    }


}

@media only screen and (max-width: 390px){
    body {
        width: 100%;
        height: 128.5vh;
    }
}