* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: black;
    background-color: black;
}

body {
    width: 100%;
    height: 155vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    color: black;
    background-color: black;
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: transparent;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#brand {
    align-items: center;
    margin: 20px 30px;
    cursor: pointer;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
    margin-right: 25px;
}

ul a {
    color: white;
    text-transform: uppercase;
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    position: relative;

}

ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

ul li:hover::after {
    width: 100%;
}

#hamburger-icon {
    margin-top: 40px;
    margin-right: 25px;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 1.5rem;
    height: calc(100vh - 50px);
    width: 30%;
    background: rgba(82, 82, 82, 0.5);
    height: 340px;
    border-radius: 25px;
}

.mobile-menu li {
    margin-top: 40px;
    margin-bottom: 20px;
}

.slidershow {
    display: none;
}

.middle {
    display: none;
}

.movement {
    display: none;
}

.bar {
    display: none;
}

.bar:hover {
    display: none;
}

input[name = "rate"] {
    display: none;
}


.slides {
    display: none;
}

.slide {
    display: none;
}

.slide img {
    display: none;
}

#r1:checked ~ .s1 {
    display: none;
}

#r2:checked ~ .s1 {
    display: none;
}

#r3:checked ~ .s1 {
    display: none;
}

#r4:checked ~ .s1 {
    display: none;
}

#r5:checked ~ .s1 {
    display: none;
}

img.first {
    height: 180px;
    width: 320px;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: .75em .75em 1em black;
}

.second {
    height: 180px;
    width: 320px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: .75em .75em 1em black;
}

.third {
    height: 180px;
    width: 320px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: .75em .75em 1em black;
}

.fourth {
    height: 180px;
    width: 320px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: .75em .75em 1em black;
}

.fifth {
    height: 180px;
    width: 320px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: .75em .75em 1em black;
}


@media (max-width: 800px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

}

@media (min-width: 800px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    body {
        width: 100%;
        height: 100vh;
        background-image: url(background.png);
        background-size: cover;
        background-position: center;
        color: black;
    }


    .slidershow {
        display: block;
        width: 1152px;
        height: 648px;
    }
    
    .middle {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .movement {
        display: block;
        position: absolute;
        bottom: 125px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    
    .bar {
        display: block;
        width: 50px;
        height: 15px;
        border: 2px solid #fff;
        margin: 6px;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .bar:hover {
        display: block;
        background: #fff;
    }
    
    input[name = "rate"] {
        display: block;
        position: absolute;
        visibility: hidden;
    }


    .slides {
        width: 500%;
        height: 100%;
        display: flex;
    }
    
    .slide {
        display: block;
        width: 20%;
        transition: 0.3s;
    }
    
    .slide img {
        display: block;
        width: 100%;
        height: 100%;
    }

    #r1:checked ~ .s1 {
        display: block;
        margin-left: 0;
    }
    
    #r2:checked ~ .s1 {
        display: block;
        margin-left: -20%;
    }
    
    #r3:checked ~ .s1 {
        display: block;
        margin-left: -40%;
    }
    
    #r4:checked ~ .s1 {
        display: block;
        margin-left: -60%;
    }
    
    #r5:checked ~ .s1 {
        display: block;
        margin-left: -80%;
       
    }

    img.first {
        display: none;
    }

    img.second {
        display: none;
    }

    img.third {
        display: none;
    }

    img.fourth {
        display: none;
    }

    img.fifth {
        display: none;
    }
}
